{% extends 'admin_header.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="section-header-breadcrumb-content">

                    </div>
                </div>

            </div>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Kundli</h3>
                        </div>
                        <div class="card-body">
                           
                                
                                <div class="card-body">
                                    <div class="table-responsive">
                                        {% for message in messages %}
                                        {%if "genratedkundlidelete" in message.tags %}
                                            <div class="message" id="msgsec">
                                                <center><p style = "color: red;"> {{message}} </p></center>
                                            </div>
                                        {%endif%}
                                        {% endfor %}
                                        {% for message in messages %}
                                        {%if "kundlicreate" in message.tags %}
                                            <div class="message" id="msgsec">
                                                <center><p style = "color: green;"> {{message}} </p></center>
                                            </div>
                                        {%endif%}
                                        {% endfor %}
                                        {% for message in messages %}
                                        {%if "kundliupdate" in message.tags %}
                                            <div class="message" id="msgsec">
                                                <center><p style = "color: green;"> {{message}} </p></center> 
                                            </div>
                                        {%endif%}
                                        {% endfor %}
                                            
                                            <table style="width: 100%;">
                                                <tr align="center">
                                                    <th>Name</th>
                                                    <th>Date Of Birth</th>
                                                    <th>Time Of Birth</th>
                                                    <th>Place Of Birth</th>
                                                    <th>Action</th>
                                                </tr>
                                                {% for kundli in kundlirequestlist %}
                                                <tr align="center">
                                                    <td>{{kundli.kundli_name}}</td>
                                                    <td>{{kundli.kundli_DOB}}</td>
                                                    <td>{{kundli.kundli_time_of_birth}}</td>
                                                    <td>{{kundli.kundli_City.City_Name}}</td>
                                                    <td> 
                                                        
                                                        {% if kundli.IsRequest == 0 %}
                                                        <a href="{% url 'astroadmin:genrate_kundli' id=kundli.id %}"><button class="btn-primary" type="button">Genrate Kundli</button></a>
                                                        {% elif kundli.IsRequest == 1 %}
                                                        <a href ="{% url 'astroadmin:update_genrate_kundli' id=kundli.id %}"><i class="fa fa-edit"></i></a> &nbsp;
                                                        <a href ="{% url 'astroadmin:delete_genrate_kundli' id=kundli.id %}"><i class="fa fa-trash"></i></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr><td colspan="4" align="center">No data found</td></tr>
                                                {% endfor %}
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    
</div>
{% endblock %}