{% extends 'admin_header.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="section-header-breadcrumb-content">

                    </div>
                </div>

            </div>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Palm Reading</h3>
                        </div>
                        {% for palm in palmlist %}
                            <div class="card-body">
                                {% for message in messages %}
                                {%if "palmcreate" in message.tags %}
                                    <div class="message" id="msgsec">
                                        <center><p style = "color: green;"> {{message}} </p></center>
                                        <a href="#" class="del-msg">&times;</a>
                                    </div>
                                {%endif%}
                                {% endfor %}
                                {% for message in messages %}
                                {%if "palmupdated" in message.tags %}
                                    <div class="message" id="msgsec">   
                                        <center><p style = "color: green;"> {{message}} </p></center>
                                        <a href="#" class="del-msg">&times;</a>
                                    </div>
                                {%endif%}
                                {% endfor %}
                                {% for message in messages %}
                                {%if "palmdelete" in message.tags %}
                                    <div class="message" id="msgsec">
                                        <center><p style = "color: red;"> {{message}} </p></center>
                                        <a href="#" class="del-msg">&times;</a>

                                    </div>
                                {%endif%}
                                {% endfor %}
                                <div class="card-body">
                                    <div class="table-responsive">
                                        
                                            <p><h2> {{palm.title}}</h2></p>
                                            <p><h5>{{palm.description}} </h5></p>
                                            <a href="{% url 'astroadmin:palm_update' id=palm.id %}"><button class="btn btn-primary">Update</button></a>
                                            <a href="{% url 'astroadmin:palmdelete' id=palm.id %}" ><button class="btn btn-primary">Delete</button></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                        <div class="card-body">
                            <a href="{% url 'astroadmin:palm_genrate' %}">
                                <button class="btn btn-primary" style="width:15%;margin-left:80%;">Insert</button>
                            </a>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <center>No Data Found</center>
                                </div>
                            </div>
                        </div>
                            
                                        
                        {% endfor %}
                    </div>
                </div>
    </section>
    
</div>
{% endblock %}