{% extends 'client_header.html' %}
{%load static%}
{% block content %}
        <section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Birth Chart</h1> 
                    </div>
                </div>
            </div>
        </section>
        <section class="as_zodiac_single_wrapper as_padderTop80 as_padderBottom60">
            <h2 class="as_heading as_heading_center text-center">Your Genrated Birth Chart List</h2>

            {% for Birthdata in birthj_id %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12">
                        <div class="as_zodiac_single_inner">
                            
                            <div class="as_tab_wrapper">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="Today">
                                        <hr>
                                       <h3 class="as_subheading as_orange"> Name :- {{Birthdata.name}}</h3>
                                       <h3 class="as_subheading as_orange"> Date Of Birth :- {{Birthdata.DOB}}</h3>
                                       <h3 class="as_subheading as_orange"> Time Of Birth :- {{Birthdata.time_of_birth}}</h3>
                                       <h3 class="as_subheading as_orange"> Palce of Birth :- {{Birthdata.City.City_Name}}</h3>
                                      
                                       <!-- <p class="as_font14 as_padderBottom20">{{createkundli.title}}</p>
                                       <p class="as_font14 as_padderBottom20">{{createkundli.description}}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <center><h2>No Data Found</h2></center>
            {% endfor %}
            <br>
            <br>
        </section>


        <section class="as_appointment_wrapper as_padderTop80 as_padderBottom80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">                      
                        <div class="as_journal_box_wrapper">

                            <form method="POST" action="/birthjournal/">
                                {% csrf_token %}
                                <h2 class="as_heading as_heading_center text-center">Genrate Your Birth Chart</h2>

                                

                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <label>name</label>
                                        <div class="form-group">
                                            <input type="text" name="birthj_name" class="form-control" placeholder="Enter your name" id="" value="{{b_name}}" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 ">
                                        <label>Date Of Birth</label>
                                        <div class="form-group">
                                            <input type="Date" name="birthj_DOB" class="form-control" Placeholder="Date Of Birth" value="{{birj_DOB}}"  id="" required>   
                                           
                                        </div>
                                    </div>
                                    <div class="col-lg-12 ">
                                        <label>Time Of Birth</label>
                                        <div class="form-group">
                                            <input type="time" name="birthj_time_of_birth" class="form-control" placeholder="Time of birth" value="{{birth_tob}}" id="" required>
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-12 ">
                                        <label>Place of Birth</label>
                                        <div class="form-group">
                                            <select name = "birthj_City" class="form-control">
                                                <option value="">Select City</option>
                                                {% for city in bcity %}
                                                <option value="{{city.id}}">{{city.City_Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="as_btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          
      {% endblock %}